{% extends 'base.html' %}
{% load static %}

{% load custom_tags %}

{% block content %}
<section>
    <div class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-mt-10">
        <h2 class="fancy-font tw-text-center tw-px-4 tw-mb-2 tw-text-6xl">Meet the Pastry Chef!</h2>
        <!-- Profile Picture -->
        <div class="tw-w-[300px] tw-h-[300px] tw-rounded-full tw-overflow-hidden tw-mb-2 tw-z-10">
            <img src="{% static './assets/images/landing/ks-chef-mayela.jpg' %}" alt="Mayela Bezares" class="tw-w-full tw-h-full tw-object-cover">
        </div>
        <!-- About Me Text -->
        <div class="tw-text-center tw-z-10 tw-px-8">
            <h1 class="tw-mt-4 tw-text-2xl tw-font-bold tw-tracking-widest">Why I started Knead Sweets</h1>
            <br>
            <p class="tw-mt-2 tw-tracking-widest">I started Knead Sweets because I wanted to share the joy and creativity of baking with others. After years of experimenting in my own kitchen and discovering how baking could bring people together, I realized I wanted to turn my passion into something more.  With Knead Sweets, I could combine my love for delicious treats with my desire to create moments of happiness for others. Every pastry I make is a little piece of joy, made with care and creativity, and I’m excited to share that with the world.</p>
        </div>
    </div>
</section>

<section>
    <div class="embedsocial-hashtag" data-ref="4ae7ea8f22e9621331d6e4f4f7e817aeab6113ae"> <a class="feed-powered-by-es feed-powered-by-es-slider-img es-widget-branding" href="https://embedsocial.com/social-media-aggregator/" target="_blank" title="Instagram widget"> <img src="https://embedsocial.com/cdn/icon/embedsocial-logo.webp" alt="EmbedSocial"> <div class="es-widget-branding-text">Instagram widget</div> </a> </div>
</section>

{% include './html/components/cta/cta.html' %}

{% endblock content %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js" integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css" integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <script src="{% static "./js/home.js" %}"></script>

    <script> (function(d, s, id) { var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/cdn/ht.js"; d.getElementsByTagName("head")[0].appendChild(js); }(document, "script", "EmbedSocialHashtagScript")); </script>

{% endblock scripts %}