{% extends 'base.html' %}
{% load static %}

{% load custom_tags %}

{% block content %}
<section>
    <div class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-mt-10">
        <h2 class="fancy-font tw-px-0 tw-text-6xl">Meet the Pastry Chef!</h2>
        <!-- Profile Picture -->
        <div class="tw-w-48 tw-h-48 tw-rounded-full tw-overflow-hidden tw-mb-4 tw-z-10">
            <img src="{% static './assets/images/landing/ks-profile.png' %}" alt="Mayela Bezares" class="tw-w-full tw-h-full tw-object-cover">
        </div>
        <!-- About Me Text -->
        <div class="tw-text-center tw-z-10 tw-p-8">
            <p class="tw-mt-2 tw-tracking-widest">Meet Mayela, the heart and hands behind Knead Sweets.</p>
            <br>
            <p class="tw-mt-2 tw-tracking-widest">As a passionate baker with a love for creating delicious and beautiful treats, Mayela has been perfecting the art of baking for years. Inspired by family traditions and a love for sharing joy through food, she brings creativity and dedication to every recipe. Her commitment to using quality ingredients and making everything from scratch ensures that every item is as special as the moment it's made for. Whether she's experimenting with new flavors or perfecting timeless classics, Mayela is always focused on creating baked goods that bring happiness to others.</p>
        </div>
    </div>
</section>
{% endblock content %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js" integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css" integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <script src="{% static "./js/home.js" %}"></script>

{% endblock scripts %}