{% extends 'base.html' %}
{% load static %}

{% load custom_tags %}

{% block content %}

<section id="hero-section" class="tw-w-full">

    <div class="tw-flex tw-flex-col tw-text-center">
        <h1 class="tw-text-4xl tw-font-normal tw-uppercase tw-mt-10">Knead Sweets</h1>
        <p class="tw-text-xl tw-tracking-[.2rem] tw-text-light tw-mt-4 tw-uppercase">Chicago</p>
        <p class="fancy-font tw-text-2xl tw-my-4">Where a little sweetness goes a long way</p>
    </div>

    <div class="tw-flex tw-flex-col tw-items-center tw-justify-center">
        <!-- Button -->
        <div class="tw-absolute tw-bottom-20 tw-left-1/2 tw-transform tw--translate-x-1/2 tw-z-10">
            <a href="https://dunosis.forms.app/kneadsweets-order" class="tw-px-6 tw-py-3 tw-text-lg tw-font-semibold tw-text-white tw-bg-black tw-rounded-lg tw-shadow-lg hover:tw-bg-gray-800">
            Treat Yourself!
            </a>
        </div>
        <!-- Gallery Items -->
        <div class="tw-relative tw-w-full tw-max-w-[650px] tw-h-[calc(100vh-280px)] tw-px-5 tw-overflow-hidden tw-z-0">
            <div id="default-carousel" class="tw-relative tw-w-full tw-h-full" data-carousel="slide">
            <!-- Carousel wrapper -->
            <div class="tw-relative tw-w-full tw-h-full tw-overflow-hidden tw-rounded-3xl">
                <!-- Item 1 -->
                <div class="tw-duration-700 tw-ease-in-out" data-carousel-item>
                <img src="{% static './assets/images/home/ks-cakes-1.png' %}" class="tw-absolute tw-block tw-w-full tw-h-full tw-object-cover tw--translate-x-1/2 tw--translate-y-1/2 tw-top-1/2 tw-left-1/2" alt="...">
                </div>
                <!-- Item 2 -->
                <div class="tw-duration-700 tw-ease-in-out" data-carousel-item>
                <img src="{% static './assets/images/home/ks-cakes-2.png' %}" class="tw-absolute tw-block tw-w-full tw-h-full tw-object-cover tw--translate-x-1/2 tw--translate-y-1/2 tw-top-1/2 tw-left-1/2" alt="...">
                </div>
                <!-- Item 3 -->
                <div class="tw-duration-700 tw-ease-in-out" data-carousel-item>
                <img src="{% static './assets/images/home/ks-cakes-3.png' %}" class="tw-absolute tw-block tw-w-full tw-h-full tw-object-cover tw--translate-x-1/2 tw--translate-y-1/2 tw-top-1/2 tw-left-1/2" alt="...">
                </div>
                <!-- Item 4 -->
                <div class="tw-duration-700 tw-ease-in-out" data-carousel-item>
                <img src="{% static './assets/images/home/ks-cakes-4.png' %}" class="tw-absolute tw-block tw-w-full tw-h-full tw-object-cover tw--translate-x-1/2 tw--translate-y-1/2 tw-top-1/2 tw-left-1/2" alt="...">
                </div>
                <!-- Item 5 -->
                <div class="tw-duration-700 tw-ease-in-out" data-carousel-item>
                <img src="{% static './assets/images/home/ks-cakes-5.png' %}" class="tw-absolute tw-block tw-w-full tw-h-full tw-object-cover tw--translate-x-1/2 tw--translate-y-1/2 tw-top-1/2 tw-left-1/2" alt="...">
                </div>
            </div>
            <!-- Slider indicators -->
            <div class="tw-absolute tw-z-30 tw-flex tw--translate-x-1/2 tw-bottom-5 tw-left-1/2 tw-space-x-3 rtl:tw-space-x-reverse">
                <button type="button" class="tw-w-3 tw-h-3 tw-rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
                <button type="button" class="tw-w-3 tw-h-3 tw-rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
                <button type="button" class="tw-w-3 tw-h-3 tw-rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
                <button type="button" class="tw-w-3 tw-h-3 tw-rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
                <button type="button" class="tw-w-3 tw-h-3 tw-rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
            </div>
            <!-- Slider controls -->
            <button type="button" class="tw-absolute tw-top-0 tw-start-0 tw-z-30 tw-flex tw-items-center tw-justify-center tw-h-full tw-px-4 tw-cursor-pointer tw-group focus:tw-outline-none" data-carousel-prev>
                <span class="tw-inline-flex tw-items-center tw-justify-center tw-w-10 tw-h-10 tw-rounded-full tw-bg-white/30 dark:tw-bg-gray-800/30 group-hover:tw-bg-white/50 dark:group-hover:tw-bg-gray-800/60 group-focus:tw-ring-4 group-focus:tw-ring-white dark:group-focus:tw-ring-gray-800/70 group-focus:tw-outline-none">
                <svg class="tw-w-4 tw-h-4 tw-text-white dark:tw-text-gray-800 rtl:tw-rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                </svg>
                <span class="tw-sr-only">Previous</span>
                </span>
            </button>
            <button type="button" class="tw-absolute tw-top-0 tw-end-0 tw-z-30 tw-flex tw-items-center tw-justify-center tw-h-full tw-px-4 tw-cursor-pointer tw-group focus:tw-outline-none" data-carousel-next>
                <span class="tw-inline-flex tw-items-center tw-justify-center tw-w-10 tw-h-10 tw-rounded-full tw-bg-white/30 dark:tw-bg-gray-800/30 group-hover:tw-bg-white/50 dark:group-hover:tw-bg-gray-800/60 group-focus:tw-ring-4 group-focus:tw-ring-white dark:group-focus:tw-ring-gray-800/70 group-focus:tw-outline-none">
                <svg class="tw-w-4 tw-h-4 tw-text-white dark:tw-text-gray-800 rtl:tw-rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <span class="tw-sr-only">Next</span>
                </span>
            </button>
            </div>
        </div>
    </div>
</section>

<section id="landing-services" class="tw-bg-black tw-text-white tw-py-10 tw-mt-10 max-sm:tw-hidden">
    <div class="tw-container tw-mx-auto tw-px-4">
        <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-3 tw-gap-8">
            <div class="tw-flex tw-flex-col tw-items-center">
                <h2 class="fancy-font tw-text-5xl tw-mb-4 tw-font-semibold">Wedding Cakes</h2>
                <img src="{% static './assets/images/landing/ks-cakes-1.png' %}" alt="Wedding Cakes" class="tw-h-[420px] tw-w-[300px] tw-object-cover tw-mb-4 tw-rounded-2xl" loading="lazy">
                <p class="tw-text-center tw-px-4 tw-mt-2">Elegant and custom-designed wedding cakes to make your special day unforgettable. Crafted with precision and tailored to your vision.</p>
                <div class="tw-flex tw-justify-center tw-mt-4">
                    <a href="{% url 'services' %}#wedding" class="tw-px-8 tw-py-2 tw-text-lg tw-font-semibold tw-text-black tw-bg-white tw-rounded-lg">
                        See more!
                    </a>
                </div>
            </div>
            <div class="tw-flex tw-flex-col tw-items-center">
                <h2 class="fancy-font tw-text-5xl tw-mb-4 tw-font-semibold">Birthday Cakes</h2>
                <img src="{% static './assets/images/landing/ks-birthday-cakes.png' %}" alt="Pastries" class="tw-h-[420px] tw-w-[300px] tw-object-cover tw-mb-4 tw-rounded-2xl" loading="lazy">
                <p class="tw-text-center tw-px-4 tw-mt-2">Celebrate every milestone with delightful, personalized birthday cakes that taste as good as they look.</p>
                <div class="tw-flex tw-justify-center tw-mt-4">
                    <a href="{% url 'services' %}#birthday"  class="tw-px-8 tw-py-2 tw-text-lg tw-font-semibold tw-text-black tw-bg-white tw-rounded-lg">
                        See more!
                    </a>
                </div>
            </div>
            <div class="tw-flex tw-flex-col tw-items-center">
                <h2 class="fancy-font tw-text-5xl tw-mb-4 tw-font-semibold">Pastries</h2>
                <img src="{% static './assets/images/landing/ks-pastries.png' %}" alt="Special Orders" class="tw-h-[420px] tw-w-[300px] tw-object-cover tw-mb-4 tw-rounded-2xl" loading="lazy">
                <p class="tw-text-center tw-px-4 tw-mt-2">A curated selection of gourmet desserts and pastries, perfect for events, gatherings, or simply indulging in sweet moments.</p>
                <div class="tw-flex tw-justify-center tw-mt-4">
                    <a href="{% url 'services' %}#pastries"  class="tw-px-8 tw-py-2 tw-text-lg tw-font-semibold tw-text-black tw-bg-white tw-rounded-lg">
                        See more!
                    </a>
                </div>
            </div>
        </div>
        <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-3 tw-gap-8 tw-mt-8">
            <div class="tw-flex tw-flex-col tw-items-center">
                <h2 class="fancy-font tw-text-5xl tw-mb-4 tw-font-semibold">Special Events</h2>
                <img src="{% static './assets/images/home/ks-cakes-3.png' %}" alt="Cupcakes" class="tw-h-[420px] tw-w-[300px] tw-object-cover tw-mb-4 tw-rounded-2xl" loading="lazy">
                <p class="tw-text-center tw-px-4 tw-mt-2">Delicious and beautifully decorated treats for special events and catering, perfect for any occasion.</p>
                <div class="tw-flex tw-justify-center tw-mt-4">
                    <a href="{% url 'services' %}"  class="tw-px-8 tw-py-2 tw-text-lg tw-font-semibold tw-text-black tw-bg-white tw-rounded-lg">
                        See more!
                    </a>
                </div>
            </div>
            <div class="tw-flex tw-flex-col tw-items-center">
                <h2 class="fancy-font tw-text-5xl tw-mb-4 tw-font-semibold">Sweet Tables</h2>
                <img src="{% static './assets/images/landing/ks-cupcakes-flower.png' %}" alt="Cookies" class="tw-h-[420px] tw-w-[300px] tw-object-cover tw-mb-4 tw-rounded-2xl" loading="lazy">
                <p class="tw-text-center tw-px-4 tw-mt-2">Beautifully arranged sweet tables featuring an assortment of desserts, perfect for any celebration or event.</p>
                <div class="tw-flex tw-justify-center tw-mt-4">
                    <a href="{% url 'services' %}"  class="tw-px-8 tw-py-2 tw-text-lg tw-font-semibold tw-text-black tw-bg-white tw-rounded-lg">
                        See more!
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tw-w-full  tw-max-w-[100vw]
                tw-flex tw-flex-col tw-overflow-hidden tw-relative 
                tw-place-items-center
                tw-place-content-center
                tw-mt-4 tw-py-6
                max-sm:tw-block tw-hidden
                "
                >
    <div id="accordion-flush" data-accordion="collapse" data-active-classes="tw-bg-black tw-text-white" data-inactive-classes="tw-bg-[#000] tw-text-gray-100" class="tw-w-full">

        <!-- Accordion Item 1 -->
        <h2 id="accordion-flush-heading-1" class="tw-relative">
            <button type="button" class="tw-flex tw-items-center tw-justify-between tw-w-full tw-py-5 tw-px-4 tw-font-medium rtl:tw-text-right tw-text-gray-500 tw-border-b tw-border-gray-200 tw-gap-3" data-accordion-target="#accordion-flush-body-1" aria-expanded="true" aria-controls="accordion-flush-body-1">
            <p class="tw-text-3xl tw-uppercase">Weddings</p>
            <svg data-accordion-icon class="tw-w-3 tw-h-3 rotate-180 tw-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
            <div class="tw-absolute tw-w-full tw-z-0 tw-overflow-hidden tw-inset-0">
                <img src="{% static './assets/images/home/ks-doodle-bg-sm-white.png' %}" alt="Doodle Background" class="tw-w-full tw-h-full tw-object-cover tw-opacity-25">
            </div>
        </button>
        </h2>
        <div id="accordion-flush-body-1" class="hidden tw-bg-black" aria-labelledby="accordion-flush-heading-1">
            <div class="tw-p-0">
                <img src="{% static 'assets/images/home/ks-cakes-1.png' %}" alt="Weddings" class="tw-w-full tw-h-[450px] tw-object-cover">
            </div>
            <div class="tw-p-5 tw-border-b tw-border-white tw-items-center">
                <p class="tw-mb-4 tw-text-white tw-text-center">Elegant and custom-designed wedding cakes to make your special day unforgettable. Crafted with precision and tailored to your vision.</p>
                <div class="tw-flex tw-justify-center">
                    <a href="{% url 'services' %}#wedding"  class="tw-px-8 tw-py-2 tw-text-lg tw-font-semibold tw-text-black tw-bg-white tw-rounded-lg">
                        See more!
                    </a>
                </div>
            </div>
        </div>

        <!-- Accordion Item 2 -->
        <h2 id="accordion-flush-heading-2" class="tw-relative">
            <button type="button" class="tw-flex tw-items-center tw-justify-between tw-w-full tw-py-5 tw-px-4 tw-font-medium rtl:tw-text-right tw-text-gray-500 tw-border-b tw-border-gray-200 tw-gap-3" data-accordion-target="#accordion-flush-body-2" aria-expanded="true" aria-controls="accordion-flush-body-2">
            <p class="tw-text-3xl tw-uppercase">Birthdays</p>
            <svg data-accordion-icon class="tw-w-3 tw-h-3 rotate-180 tw-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
            <div class="tw-absolute tw-w-full tw-z-0 tw-overflow-hidden tw-inset-0">
                <img src="{% static './assets/images/home/ks-doodle-bg-sm-white.png' %}" alt="Doodle Background" class="tw-w-full tw-h-full tw-object-cover tw-opacity-25">
            </div>
        </button>
        </h2>
        <div id="accordion-flush-body-2" class="hidden tw-bg-black" aria-labelledby="accordion-flush-heading-1">
            <div class="tw-p-0">
                <img src="{% static 'assets/images/home/ks-cakes-2.png' %}" alt="Weddings" class="tw-w-full tw-h-[450px] tw-object-cover">
            </div>
            <div class="tw-p-5 tw-border-b tw-border-white tw-items-center">
                <p class="tw-mb-4 tw-text-white tw-text-center">Elegant and custom-designed wedding cakes to make your special day unforgettable. Crafted with precision and tailored to your vision.</p>
                <div class="tw-flex tw-justify-center">
                    <a href="{% url 'services' %}#birthday"  class="tw-px-8 tw-py-2 tw-text-lg tw-font-semibold tw-text-black tw-bg-white tw-rounded-lg">
                        See more!
                    </a>
                </div>
            </div>
        </div>
        
        <!-- Accordion Item 3 -->
        <h2 id="accordion-flush-heading-3" class="tw-relative">
            <button type="button" class="tw-flex tw-items-center tw-justify-between tw-w-full tw-py-5 tw-px-4 tw-font-medium rtl:tw-text-right tw-text-gray-500 tw-border-b tw-border-gray-200 tw-gap-3" data-accordion-target="#accordion-flush-body-3" aria-expanded="true" aria-controls="accordion-flush-body-3">
            <p class="tw-text-3xl tw-uppercase">Pastries</p>
            <svg data-accordion-icon class="tw-w-3 tw-h-3 rotate-180 tw-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
            <div class="tw-absolute tw-w-full tw-z-0 tw-overflow-hidden tw-inset-0">
                <img src="{% static './assets/images/home/ks-doodle-bg-sm-white.png' %}" alt="Doodle Background" class="tw-w-full tw-h-full tw-object-cover tw-opacity-25">
            </div>
        </button>
        </h2>
        <div id="accordion-flush-body-3" class="hidden tw-bg-black" aria-labelledby="accordion-flush-heading-1">
            <div class="tw-p-0">
                <img src="{% static 'assets/images/home/ks-cakes-3.png' %}" alt="Weddings" class="tw-w-full tw-h-[450px] tw-object-cover">
            </div>
            <div class="tw-p-5 tw-border-b tw-border-white tw-items-center">
                <p class="tw-mb-4 tw-text-white tw-text-center">Elegant and custom-designed wedding cakes to make your special day unforgettable. Crafted with precision and tailored to your vision.</p>
                <div class="tw-flex tw-justify-center">
                    <a href="{% url 'services' %}#pastries"  class="tw-px-8 tw-py-2 tw-text-lg tw-font-semibold tw-text-black tw-bg-white tw-rounded-lg">
                        See more!
                    </a>
                </div>
            </div>
        </div>

        <!-- Accordion Item 4 -->
        <h2 id="accordion-flush-heading-4" class="tw-relative">
            <button type="button" class="tw-flex tw-items-center tw-justify-between tw-w-full tw-py-5 tw-px-4 tw-font-medium rtl:tw-text-right tw-text-gray-500 tw-border-b tw-border-gray-200 tw-gap-3" data-accordion-target="#accordion-flush-body-4" aria-expanded="true" aria-controls="accordion-flush-body-4">
            <p class="tw-text-3xl tw-uppercase">Special Events</p>
            <svg data-accordion-icon class="tw-w-3 tw-h-3 rotate-180 tw-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
            <div class="tw-absolute tw-w-full tw-z-0 tw-overflow-hidden tw-inset-0">
                <img src="{% static './assets/images/home/ks-doodle-bg-sm-white.png' %}" alt="Doodle Background" class="tw-w-full tw-h-full tw-object-cover tw-opacity-25">
            </div>
        </button>
        </h2>
        <div id="accordion-flush-body-4" class="hidden tw-bg-black" aria-labelledby="accordion-flush-heading-1">
            <div class="tw-p-0">
                <img src="{% static 'assets/images/home/ks-cakes-4.png' %}" alt="Weddings" class="tw-w-full tw-h-[450px] tw-object-cover">
            </div>
            <div class="tw-p-5 tw-border-b tw-border-white tw-items-center">
                <p class="tw-mb-4 tw-text-white tw-text-center">Elegant and custom-designed wedding cakes to make your special day unforgettable. Crafted with precision and tailored to your vision.</p>
                <div class="tw-flex tw-justify-center">
                    <a href="{% url 'services' %}"  class="tw-px-8 tw-py-2 tw-text-lg tw-font-semibold tw-text-black tw-bg-white tw-rounded-lg">
                        See more!
                    </a>
                </div>
            </div>
        </div>

        <!-- Accordion Item 5 -->
        <h2 id="accordion-flush-heading-4" class="tw-relative">
            <button type="button" class="tw-flex tw-items-center tw-justify-between tw-w-full tw-py-5 tw-px-4 tw-font-medium rtl:tw-text-right tw-text-gray-500 tw-border-b tw-border-gray-200 tw-gap-3" data-accordion-target="#accordion-flush-body-5" aria-expanded="true" aria-controls="accordion-flush-body-5">
            <p class="tw-text-3xl tw-uppercase">Sweet Tables</p>
            <svg data-accordion-icon class="tw-w-3 tw-h-3 rotate-180 tw-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
            <div class="tw-absolute tw-w-full tw-z-0 tw-overflow-hidden tw-inset-0">
                <img src="{% static './assets/images/home/ks-doodle-bg-sm-white.png' %}" alt="Doodle Background" class="tw-w-full tw-h-full tw-object-cover tw-opacity-25">
            </div>
        </button>
        </h2>
        <div id="accordion-flush-body-5" class="hidden tw-bg-black" aria-labelledby="accordion-flush-heading-1">
            <div class="tw-p-0">
                <img src="{% static 'assets/images/home/ks-cupcakes-flower.png' %}" alt="Weddings" class="tw-w-full tw-h-[450px] tw-object-cover">
            </div>
            <div class="tw-p-5 tw-border-b tw-border-white tw-items-center">
                <p class="tw-mb-4 tw-text-white tw-text-center">Elegant and custom-designed wedding cakes to make your special day unforgettable. Crafted with precision and tailored to your vision.</p>
                <div class="tw-flex tw-justify-center">
                    <a href="{% url 'services' %}"  class="tw-px-8 tw-py-2 tw-text-lg tw-font-semibold tw-text-black tw-bg-white tw-rounded-lg">
                        See more!
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

    

<section class="tw-mt-5 tw-w-full tw-flex tw-flex-col tw-p-[5%] tw-place-items-center">

    <div class="tw-w-full tw-flex tw-flex-col tw-place-content-center tw-gap-4 tw-mb-4">
        <h2 class="tw-text-4xl max-md:tw-text-2xl primary-text-color tw-font-medium tw-text-center">
            What Our Customers Are Saying
        </h2>
        <p class="tw-text-xl max-md:tw-text-lg tw-font-light tw-color-grey-300 tw-text-center tw-px-4">Read what our customers have to say about our products and services
        </p>
    </div>
    
    <div class="tw-mt-5 tw-flex tw-w-full tw-place-content-center tw-gap-[5%]">

        <div class="review-container tw-flex tw-flex-col">
            <div class="tw-flex tw-h-[250px] tw-max-w-[550px]">
                <div class="slides fade tw-text-lg max-md:tw-text-base">
                        <!-- Review Profile -->
                    <div class="tw-flex tw-flex-col tw-place-items-center tw-place-content-center tw-gap-4">
                        <div class="tw-text-center">
                            <div class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-p-6 tw-bg-gray-100 tw-rounded-lg tw-shadow-lg tw-max-w-md tw-mx-auto">
                                <!-- Top Quote -->
                                <div class="tw-flex tw-justify-start tw-w-full">
                                  <span class="tw-text-4xl tw-font-bold tw-text-black">“</span>
                                </div>
                                <!-- Review Text -->
                                <p class="tw-text-lg tw-italic tw-text-center tw-text-gray-700 tw-px-4">
                                  “My family loved the sweets and the one with the fruits, I’m obsessed with 
                                  <span class="tw-ml-1">😋</span>”
                                </p>
                                <!-- Bottom Quote -->
                                <div class="tw-flex tw-justify-end tw-w-full">
                                  <span class="tw-text-4xl tw-font-bold tw-text-black">”</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="slides fade tw-text-lg max-md:tw-text-base">
                    <!-- Review Profile -->
                    <div class="tw-flex tw-flex-col tw-place-items-center tw-place-content-center tw-gap-4">
                        <div class="tw-text-center">
                            <div class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-p-6 tw-bg-gray-100 tw-rounded-lg tw-shadow-lg tw-max-w-md tw-mx-auto">
                                <!-- Top Quote -->
                                <div class="tw-flex tw-justify-start tw-w-full">
                                  <span class="tw-text-4xl tw-font-bold tw-text-black">“</span>
                                </div>
                                <!-- Review Text -->
                                <p class="tw-text-lg tw-italic tw-text-center tw-text-gray-700 tw-px-4">
                                  “It was exactly what we wanted!!! Thank you sooo much 
                                  <span class="tw-ml-1">❤️❤️❤️</span>”
                                </p>
                                <!-- Bottom Quote -->
                                <div class="tw-flex tw-justify-end tw-w-full">
                                  <span class="tw-text-4xl tw-font-bold tw-text-black">”</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slides fade tw-text-lg max-md:tw-text-base">
                    <!-- Review Profile -->
                    <div class="tw-flex tw-flex-col tw-place-items-center tw-place-content-center tw-gap-4">
                        <div class="tw-text-center">
                            <div class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-p-6 tw-bg-gray-100 tw-rounded-lg tw-shadow-lg tw-max-w-md tw-mx-auto">
                                <!-- Top Quote -->
                                <div class="tw-flex tw-justify-start tw-w-full">
                                    <span class="tw-text-4xl tw-font-bold tw-text-black">“</span>
                                </div>
                                <!-- Review Text -->
                                <p class="tw-text-lg tw-italic tw-text-center tw-text-gray-700 tw-px-4">
                                “Your chocolate cake is my favorite!"
                                </p>
                                <!-- Bottom Quote -->
                                <div class="tw-flex tw-justify-end tw-w-full">
                                    <span class="tw-text-4xl tw-font-bold tw-text-black">”</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slides fade tw-text-lg max-md:tw-text-base">
                    <!-- Review Profile -->
                    <div class="tw-flex tw-flex-col tw-place-items-center tw-place-content-center tw-gap-4">
                        <div class="tw-text-center">
                            <div class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-p-6 tw-bg-gray-100 tw-rounded-lg tw-shadow-lg tw-max-w-md tw-mx-auto">
                                <!-- Top Quote -->
                                <div class="tw-flex tw-justify-start tw-w-full">
                                  <span class="tw-text-4xl tw-font-bold tw-text-black">“</span>
                                </div>
                                <!-- Review Text -->
                                <p class="tw-text-lg tw-italic tw-text-center tw-text-gray-700 tw-px-4">
                                  “The cake is beautiful thank you so much
                                  <span class="tw-ml-1">😍❤️</span>”
                                </p>
                                <!-- Bottom Quote -->
                                <div class="tw-flex tw-justify-end tw-w-full">
                                  <span class="tw-text-4xl tw-font-bold tw-text-black">”</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Navigation dots -->
            <div class="dots-container tw-mt-auto">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
    </div>
</section>

<section class="tw-w-full tw-flex 
                tw-place-content-center 
                tw-px-[10%]
                tw-p-4
                tw-gap-[10%]
                tw-place-items-center
                max-md:tw-flex-col
                tw-overflow-hidden
                tw-h-[250px]
                tw-bg-black
                tw-text-white
                "
                >
    <div class="tw-flex tw-flex-col tw-place-items-center tw-gap-2">
        <h3 class="tw-text-4xl max-md:tw-text-3xl tw-mb-4">Follow our story!</h3>
        <div class="tw-flex tw-gap-6 tw-mb-4 tw-text-3xl">
            <a href="https://www.facebook.com/kneadsweetsbymayela" aria-label="Facebook">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="https://www.instagram.com/kneadsweetschicago" aria-label="Instagram">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="https://wa.me/17874690979" aria-label="WhatsApp">
               <i class="bi bi-whatsapp"></i>
            </a>
        </div>
    </div>
</section>

{% include 'html/components/cta/cta.html' %}

    <div class="tw-fixed
                tw-top-[50%] tw-translate-y-[-50%]
                tw-left-[50%] tw-translate-x-[-50%]
                tw-w-[450px] tw-max-h-[450px] 
                max-md:tw-w-[350px]
                tw-z-40
                tw-p-3
                tw-hidden
                tw-flex-col
                tw-rounded-md
                tw-shadow-2xl
                tw-bg-white"
                id="modal"
                >
        {% comment %} feedback modal {% endcomment %}
        <div class="tw-w-full tw-relative tw-h-[40px]">
            <button class="tw-text-4xl 
                            bi bi-x
                            tw-absolute
                            tw-right-2
                            "
                    id="modal-close"
                            >
        </div>
        </button>
        <h2 class="tw-text-2xl tw-text-center tw-mt-[5%]" 
                id="modal-title"></h2>

        <div class="tw-text-base tw-font-normal tw-mt-2" 
                id="modal-description">
        </div>

        <textarea id="modal-input" 
                placeholder="write..."
                maxlength="2000"
                class="input tw-w-full 
                        tw-hidden
                        tw-mt-2
                        tw-resize-y 
                        tw-text-base
                        tw-font-normal
                        tw-min-h-[50px]
                        tw-max-h-[150px]"></textarea>

        <div class="tw-w-full tw-flex tw-place-content-center tw-mt-3">
            <a href="#" class="btn tw-text-sm tw-cursor-pointer" id="modal-action-btn">
                Open
            </a>
        </div>
        
    </div>
    
{% endblock content %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js" integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css" integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <script src="{% static "./js/home.js" %}"></script>

{% endblock scripts %}