{% load static %}
{% load static tailwind_tags %}

{% load custom_tags%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="{% static 'assets/logos/kneadsweets-logo.png' %}" type="image/png">
    
    <meta name="theme-color" content="#efecec">

    <title>{% block title %}{% endblock title %} {% settings_value "PROJECT_TITLE" %}</title>
    <meta name="description" 
            content="{% block description %}Chicago-based cake and pastry chef{% endblock description %}">

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="{% block socialTitle %}{% endblock socialTitle %} Knead Sweets Chicago" />
    <meta property="og:description" 
                        content="{% block socialDescription %}Chicago-based pastry and cake chef!{% endblock socialDescription %}" />
    <meta property="og:type" content="{% block pageType %}website{% endblock pageType %}" />
    <meta property="og:url" content="{% block pageLink %}{{request.build_absolute_uri}}{% endblock pageLink %}" />
    <meta property="og:image" content="{% block pageImage %}{{ request.scheme }}://{{request.get_host}}{% static "./assets/images/logos/kneadsweets-logo.png" %}{% endblock pageImage %}" />

    <!-- Twitter -->
    {% comment %} 
    `some of the meta tags specific to twitter has been dropped in favor of OG tags, Since twitter also supports OG tags as fallback
    https://developer.twitter.com/en/docs/twitter-for-websites/cards/guides/getting-started
    {% endcomment %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@">
    {% comment %} <meta name="twitter:title" content="{% block twitterTitle %}Project{% endblock twitterTitle %}">
    <meta name="twitter:description" content="{% block twitterDescription %}Description Here{% endblock socialDescription %}"> {% endcomment %}
    {% comment %} <meta name="twitter:image" content="{% block pageImage %}http://www.example.com/image.jpg{% endblock pageImage %}"> {% endcomment %}
    
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static "./css/index.css" %}">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ephesis&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={% settings_value "ANALYTICS_TAG_ID" %}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{% settings_value "ANALYTICS_TAG_ID" %}');
    </script>

    {% block head_tags %}
    {% endblock head_tags %}

</head>
<body>
    <section id="landing-gallery">
        <div class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-min-h-screen tw-bg-gray-100">
            <!-- Landing Header -->
            <div class="tw-absolute tw-w-full tw-bg-black tw-backdrop-blur-md tw-top-0 tw-left-1/2 tw-transform tw--translate-x-1/2 tw-text-center tw-z-10">
                <div class="tw-flex tw-mt-4 tw-gap-4 tw-justify-center">
                    <img src="{% static "assets/logos/ks-logo-white.png" %}" 
                        alt="logo" class="tw-max-w-[120px] max-md:tw-max-w-[80px]">
                </div>
                <p class="tw-text-lg tw-mb-5 tw-tracking-wide tw-text-white tw-mt-2 tw-uppercase">Chicago</p>
            </div>
            <!-- Button -->
            <div class="tw-absolute tw-bottom-20 tw-left-1/2 tw-transform tw--translate-x-1/2 tw-z-20">
                <a href="{% url 'home' %}" class="tw-px-6 tw-py-3 tw-text-lg tw-font-semibold tw-text-white tw-bg-black tw-rounded-full tw-shadow-lg hover:tw-bg-gray-800">
                ORDER NOW!
                </a>
            </div>
            <!-- Gallery Items -->
            <div class="tw-relative tw-w-full tw-h-screen tw-overflow-hidden tw-z-0">
                <div id="default-carousel" class="tw-relative tw-w-full tw-h-full" data-carousel="slide">
                    <!-- Carousel wrapper -->
                    <div class="tw-relative tw-w-full tw-h-full tw-overflow-hidden">
                        <!-- Item 1 -->
                        <div class="tw-duration-700 tw-ease-in-out" data-carousel-item>
                            <img src="{% static './assets/images/landing/ks-wedding-cakes.png' %}" class="tw-absolute tw-block tw-w-full tw-h-full tw-object-cover tw--translate-x-1/2 tw--translate-y-1/2 tw-top-1/2 tw-left-1/2" alt="...">
                        </div>
                        <!-- Item 2 -->
                        <div class="tw-duration-700 tw-ease-in-out" data-carousel-item>
                            <img src="{% static './assets/images/landing/ks-birthday-cakes.png' %}" class="tw-absolute tw-block tw-w-full tw-h-full tw-object-cover tw--translate-x-1/2 tw--translate-y-1/2 tw-top-1/2 tw-left-1/2" alt="...">
                        </div>
                        <!-- Item 3 -->
                        <div class="tw-duration-700 tw-ease-in-out" data-carousel-item>
                            <img src="{% static './assets/images/landing/ks-pastries.png' %}" class="tw-absolute tw-block tw-w-full tw-h-full tw-object-cover tw--translate-x-1/2 tw--translate-y-1/2 tw-top-1/2 tw-left-1/2" alt="...">
                        </div>
                        <!-- Item 4 -->
                        <div class="tw-duration-700 tw-ease-in-out" data-carousel-item>
                            <img src="{% static './assets/images/landing/ks-cupcakes.png' %}" class="tw-absolute tw-block tw-w-full tw-h-full tw-object-cover tw--translate-x-1/2 tw--translate-y-1/2 tw-top-1/2 tw-left-1/2" alt="...">
                        </div>
                        <!-- Item 5 -->
                        <div class="tw-duration-700 tw-ease-in-out" data-carousel-item>
                            <img src="{% static './assets/images/landing/ks-cupcakes-flower.png' %}" class="tw-absolute tw-block tw-w-full tw-h-full tw-object-cover tw--translate-x-1/2 tw--translate-y-1/2 tw-top-1/2 tw-left-1/2" alt="...">
                        </div>
                        <!-- Item 6 -->
                        <div class="tw-duration-700 tw-ease-in-out" data-carousel-item>
                            <img src="{% static './assets/images/landing/ks-cakes-1.png' %}" class="tw-absolute tw-block tw-w-full tw-h-full tw-object-cover tw--translate-x-1/2 tw--translate-y-1/2 tw-top-1/2 tw-left-1/2" alt="...">
                        </div>
                        <!-- Item 7 -->
                        <div class="tw-duration-700 tw-ease-in-out" data-carousel-item>
                            <img src="{% static './assets/images/landing/ks-cakes-2.png' %}" class="tw-absolute tw-block tw-w-full tw-h-full tw-object-cover tw--translate-x-1/2 tw--translate-y-1/2 tw-top-1/2 tw-left-1/2" alt="...">
                        </div>
                        <!-- Item 8 -->
                        <div class="tw-duration-700 tw-ease-in-out" data-carousel-item>
                            <img src="{% static './assets/images/landing/ks-cakes-landing.png' %}" class="tw-absolute tw-block tw-w-full tw-h-full tw-object-cover tw--translate-x-1/2 tw--translate-y-1/2 tw-top-1/2 tw-left-1/2" alt="...">
                        </div>
                        <!-- Item 9 -->
                        <div class="tw-duration-700 tw-ease-in-out" data-carousel-item>
                            <img src="{% static './assets/images/landing/ks-cakes-landing-2.png' %}" class="tw-absolute tw-block tw-w-full tw-h-full tw-object-cover tw--translate-x-1/2 tw--translate-y-1/2 tw-top-1/2 tw-left-1/2" alt="...">
                        </div>
                    </div>
                    <!-- Slider indicators -->
                    <div class="tw-absolute tw-z-30 tw-flex tw--translate-x-1/2 tw-bottom-5 tw-left-1/2 tw-space-x-3 rtl:tw-space-x-reverse">
                        <button type="button" class="tw-w-3 tw-h-3 tw-rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
                        <button type="button" class="tw-w-3 tw-h-3 tw-rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
                        <button type="button" class="tw-w-3 tw-h-3 tw-rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
                        <button type="button" class="tw-w-3 tw-h-3 tw-rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
                        <button type="button" class="tw-w-3 tw-h-3 tw-rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
                        <button type="button" class="tw-w-3 tw-h-3 tw-rounded-full" aria-current="false" aria-label="Slide 6" data-carousel-slide-to="5"></button>
                        <button type="button" class="tw-w-3 tw-h-3 tw-rounded-full" aria-current="false" aria-label="Slide 7" data-carousel-slide-to="6"></button>
                        <button type="button" class="tw-w-3 tw-h-3 tw-rounded-full" aria-current="false" aria-label="Slide 8" data-carousel-slide-to="7"></button>
                        <button type="button" class="tw-w-3 tw-h-3 tw-rounded-full" aria-current="false" aria-label="Slide 9" data-carousel-slide-to="8"></button>
                    </div>
                    <!-- Slider controls -->
                    <button type="button" class="tw-absolute tw-top-0 tw-start-0 tw-z-30 tw-flex tw-items-center tw-justify-center tw-h-full tw-px-4 tw-cursor-pointer tw-group focus:tw-outline-none" data-carousel-prev>
                        <span class="tw-inline-flex tw-items-center tw-justify-center tw-w-10 tw-h-10 tw-rounded-full tw-bg-white/30 dark:tw-bg-gray-800/30 group-hover:tw-bg-white/50 dark:group-hover:tw-bg-gray-800/60 group-focus:tw-ring-4 group-focus:tw-ring-white dark:group-focus:tw-ring-gray-800/70 group-focus:tw-outline-none">
                            <svg class="tw-w-4 tw-h-4 tw-text-white dark:tw-text-gray-800 rtl:tw-rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                            </svg>
                            <span class="tw-sr-only">Previous</span>
                        </span>
                    </button>
                    <button type="button" class="tw-absolute tw-top-0 tw-end-0 tw-z-30 tw-flex tw-items-center tw-justify-center tw-h-full tw-px-4 tw-cursor-pointer tw-group focus:tw-outline-none" data-carousel-next>
                        <span class="tw-inline-flex tw-items-center tw-justify-center tw-w-10 tw-h-10 tw-rounded-full tw-bg-white/30 dark:tw-bg-gray-800/30 group-hover:tw-bg-white/50 dark:group-hover:tw-bg-gray-800/60 group-focus:tw-ring-4 group-focus:tw-ring-white dark:group-focus:tw-ring-gray-800/70 group-focus:tw-outline-none">
                            <svg class="tw-w-4 tw-h-4 tw-text-white dark:tw-text-gray-800 rtl:tw-rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                            </svg>
                            <span class="tw-sr-only">Next</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section id="landing-services" class="tw-bg-black tw-text-white tw-py-10">
        <div class="tw-container tw-mx-auto tw-px-4">
            <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-3 tw-gap-8">
                <div class="tw-flex tw-flex-col tw-items-center">
                    <h2 class="fancy-font tw-text-5xl tw-mb-4 tw-font-semibold">Wedding Cakes</h2>
                    <img src="{% static './assets/images/landing/ks-cakes-1.png' %}" alt="Wedding Cakes" class="tw-h-[420px] tw-w-[300px] tw-object-cover tw-mb-4 tw-rounded-2xl" loading="lazy">
                    <p class="tw-text-center tw-px-4 tw-mt-2">Elegant and custom-designed wedding cakes to make your special day unforgettable. Crafted with precision and tailored to your vision.</p>
                </div>
                <div class="tw-flex tw-flex-col tw-items-center">
                    <h2 class="fancy-font tw-text-5xl tw-mb-4 tw-font-semibold">Birthday Cakes</h2>
                    <img src="{% static './assets/images/landing/ks-birthday-cakes.png' %}" alt="Pastries" class="tw-h-[420px] tw-w-[300px] tw-object-cover tw-mb-4 tw-rounded-2xl" loading="lazy">
                    <p class="tw-text-center tw-px-4 tw-mt-2">Celebrate every milestone with delightful, personalized birthday cakes that taste as good as they look.</p>
                </div>
                <div class="tw-flex tw-flex-col tw-items-center">
                    <h2 class="fancy-font tw-text-5xl tw-mb-4 tw-font-semibold">Pastries</h2>
                    <img src="{% static './assets/images/landing/ks-pastries.png' %}" alt="Special Orders" class="tw-h-[420px] tw-w-[300px] tw-object-cover tw-mb-4 tw-rounded-2xl" loading="lazy">
                    <p class="tw-text-center tw-px-4 tw-mt-2">A curated selection of gourmet desserts and pastries, perfect for events, gatherings, or simply indulging in sweet moments.</p>
                </div>
            </div>
            </div>
        </div>
    </section>

    <section id="about-me" class="tw-bg-ksBackground tw-py-10 tw-overflow-hidden tw-relative">
        <div class="tw-absolute tw-inset-0 tw-z-0">
            <img src="{% static './assets/images/landing/ks-doodle-background-lg.svg' %}" alt="Doodle Background" class="tw-w-full tw-h-full tw-object-cover sm:tw-scale-250">
        </div>
        <div class="tw-container tw-w-full tw-mx-auto">
            <div class="tw-flex tw-flex-col tw-items-center tw-justify-center">
                <!-- Profile Picture -->
                <div class="tw-w-48 tw-h-48 tw-rounded-full tw-overflow-hidden tw-mb-4 tw-z-10">
                    <img src="{% static './assets/images/landing/ks-profile.png' %}" alt="Mayela Bezares" class="tw-w-full tw-h-full tw-object-cover">
                </div>
                <!-- About Me Text -->
                <div class="tw-bg-ksBackground tw-text-center tw-z-10 tw-p-8">
                    <h2 class="fancy-font tw-px-0 tw-text-4xl">Meet the Pastry Chef!</h2>
                    <br>
                    <p class="tw-mt-2 tw-tracking-widest">Meet Mayela, the heart and hands behind Knead Sweets.</p>
                    <br>
                    <p class="tw-mt-2 tw-tracking-widest">As a passionate baker with a love for creating delicious and beautiful treats, Mayela has been perfecting the art of baking for years. Inspired by family traditions and a love for sharing joy through food, she brings creativity and dedication to every recipe. Her commitment to using quality ingredients and making everything from scratch ensures that every item is as special as the moment it's made for. Whether she's experimenting with new flavors or perfecting timeless classics, Mayela is always focused on creating baked goods that bring happiness to others.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="call-to-action" class="tw-bg-black tw-text-white tw-h-[200px] tw-flex tw-items-center">
        <div class="tw-container tw-mx-auto tw-text-center">
            <h2 class="tw-text-4xl tw-tracking-widest tw-font-semibold tw-mb-5">Follow Us!</h2>
            <div class="tw-flex tw-justify-center tw-my-5">
                <a href="https://www.facebook.com/kneadsweetsbymayela" class="tw-mx-2">
                    <i class="bi bi-facebook tw-text-3xl"></i>
                </a>
                <a href="https://wa.me/17874690979" class="tw-mx-2">
                    <i class="bi bi-whatsapp tw-text-3xl"></i>
                </a>
                <a href="https://www.instagram.com/kneadsweetschicago" class="tw-mx-2">
                    <i class="bi bi-instagram tw-text-3xl"></i>
                </a>
            </div>
        </div>
    </section>

    <footer class="tw-flex tw-flex-col tw-w-full tw-p-[5%]
                    tw-px-[10%] tw-place-content-around tw-gap-3 
                    tw-text-white tw-bg-black
                    tw-mt-auto
                    ">
        <div class="tw-h-full tw-w-full tw-flex tw-flex-col 
                    tw-gap-6 tw-place-items-center max-md:tw-w-full">
            
            <div class="tw-flex tw-items-center tw-gap-4">
                <img src="{% static "assets/logos/ks-logo-white.png" %}" 
                    alt="logo" class="tw-max-w-[120px] max-md:tw-max-w-[80px]">
            </div>
            <div class="fancy-font tw-text-2xl">
                Where a little sweetness goes a long way
            </div>
            <div class="tw-h-full tw-w-auto tw-flex tw-flex-col tw-mt-3 tw-gap-4">
                <div class="tw-font-semibold tw-text-lg tw-text-center">
                    Contact Us:
                </div>
                <div class="tw-flex tw-gap-2 max-md:tw-text-md tw-text-gray-300 tw-justify-center">
                    <i class="bi bi-geo-alt"></i><span class="tw-ml-2">Chicago, IL</span>
                </div>
                <div class="tw-flex tw-gap-2 max-md:tw-text-md tw-text-gray-300 tw-justify-center">
                    <i class="bi bi-telephone"></i><span class="tw-ml-2">+1 (787) 469-0979</span>
                </div>
                <div class="tw-flex tw-gap-2 max-md:tw-text-md tw-text-gray-300 tw-justify-center">
                    <i class="bi bi-envelope"></i><span class="tw-ml-2"><a href="mailto:info@kneadsweetschicago.com">info@kneadsweetschicago.com</a></span>
                </div>
            </div>
            <div class="tw-flex tw-gap-4 tw-mb-4 tw-text-3xl">
                <a href="https://www.facebook.com/kneadsweetsbymayela" aria-label="Facebook">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://www.instagram.com/kneadsweetschicago" aria-label="Instagram">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://wa.me/17874690979" class="tw-w-[40px] tw-h-[40px]" aria-label="WhatsApp">
                   <i class="bi bi-whatsapp"></i>
                </a>
            </div>
        </div>

        <div class="tw-h-full tw-w-full tw-flex tw-flex-col tw-gap-4">
            <p class="tw-text-sm tw-text-gray-500 tw-text-center">
                &copy; 2025 Knead Sweets LLC. All rights reserved.
            </p>
            <p class='tw-text-sm tw-text-gray-500 tw-text-center'>
                <a href="https://www.dunosis.com" class="tw-text-gray-500">Made by Dunosis</a>
            </p>
        </div>

    </footer>
    <script src="{% static 'flowbite/dist/flowbite.min.js' %}"></script>
</body>
</html>