{% extends 'base.html' %}
{% load static %}

{% load custom_tags %}

{% block content %}

<section class="tw-text-center tw-p-6 tw-space-y-8">
    <!-- Title -->
    <div class="tw-space-y-2">
      <h1 class="tw-text-4xl tw-font-bold tw-tracking-tight tw-leading-snug">
        Delectably flavorful, <br />
        artfully crafted
      </h1>
    </div>
  
    <!-- Icons with Links -->
    <div class="tw-flex tw-justify-center tw-gap-6">
      <!-- Wedding -->
      <a href="#wedding" class="tw-flex tw-flex-col tw-items-center tw-space-y-2 tw-group">
        <img src="{% static './assets/images/services/ks-wedding-cake-icon.svg' %}" alt="Wedding" class="tw-w-12 tw-h-12 tw-group-hover:tw-opacity-80" />
        <span class="tw-text-sm tw-font-medium tw-text-gray-800">Wedding</span>
      </a>
      <!-- Birthday -->
      <a href="#birthday" class="tw-flex tw-flex-col tw-items-center tw-space-y-2 tw-group">
        <img src="{% static './assets/images/services/ks-birthday-cake-icon.svg' %}" alt="Birthday" class="tw-w-12 tw-h-12 tw-group-hover:tw-opacity-80" />
        <span class="tw-text-sm tw-font-medium tw-text-gray-800">Birthday</span>
      </a>
      <!-- Pastries -->
      <a href="#pastries" class="tw-flex tw-flex-col tw-items-center tw-space-y-2 tw-group">
        <img src="{% static './assets/images/services/ks-pastry-icon.svg' %}" alt="Pastries" class="tw-w-12 tw-h-12 tw-group-hover:tw-opacity-80" />
        <span class="tw-text-sm tw-font-medium tw-text-gray-800">Pastries</span>
      </a>
      <!-- Flavors -->
      <a href="#flavors" class="tw-flex tw-flex-col tw-items-center tw-space-y-2 tw-group">
        <img src="{% static './assets/images/services/ks-flavors-icon.svg' %}" alt="Flavors" class="tw-w-12 tw-h-12 tw-group-hover:tw-opacity-80" />
        <span class="tw-text-sm tw-font-medium tw-text-gray-800">Flavors</span>
      </a>
    </div>
  
    <!-- Subheading -->
    <div class="tw-text-2xl tw-font-medium tw-text-gray-600">
      <p>We have cakes and pastries for every occasion</p>
    </div>
</section>

{% include './html/components/cta/cta.html' %}

{% endblock content %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js" integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css" integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <script src="{% static "./js/home.js" %}"></script>

{% endblock scripts %}